body, html {
    margin: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}

.container {
    position: relative;
    width: 400px;
    height: 400px;
}

.main-square {
    width: 100%;
    height: 100%;
    background-color: white;
    position: relative;
}

.triangle {
    width: 0;
    height: 0;
    border-left: 75px solid transparent;
    border-right: 75px solid transparent;
    border-bottom: 130px solid orange;
    position: absolute;
    top: 45px;
    left: 45px;
    
}

.triangle::after{
    content: "";
    width: 0;
    height: 0;
    border-left: 68px solid transparent;
    border-right: 68px solid transparent;
    border-bottom: 118px solid rgb(255, 255, 255);
    position: absolute;
    top: 8px;
    left: -68px;
}

.square {
    width: 125px;
    height: 125px;
    border: 5px solid orange;
    position: absolute;
    top: 40px;
    right: 40px;
}

.cross {
    width: 150px;
    height: 150px;
    position: absolute;
    bottom: 40px;
    left: 40px;
}

.cross::before, 
.cross::after {
    content: '';
    position: absolute;
    width: 150px;
    height: 5px;
    background-color: orange;
    top: 72px;
}

.cross::before {
    transform: rotate(45deg);
}

.cross::after {
    transform: rotate(-45deg);
}

.circle {
    width: 125px;
    height: 125px;
    border: 5px solid orange;
    border-radius: 50%;
    position: absolute;
    bottom: 40px;
    right: 40px;
    background-color: transparent;
}
