body, html {
    margin: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 0, 0);
}

.box {
	width:280px;
	height:280px;
	display:flex;
	align-items:center;
	justify-content:center;
	font-family: "Inconsolata", monospace;
	font-size: 28px;
	border:2px solid #c39f76;
	box-sizing:border-box;
    background-color: white;
}

.box:after {
	content: 'Hello World';
	text-indent: -24ch;
	text-shadow: 12ch 0, 24ch 0;
	animation: m 2s linear 9e7
}
@keyframes m {
	to {
		text-indent: -12ch;
	}
}